name: Lua Love Compilation Check

on:
  push:
    branches:
      - main

jobs:
  check-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code source
        uses: actions/checkout@v2

      - name: Install Love & Lua
        run: |
          sudo apt update
          sudo apt install -y lua5.3 love

      # - name: Execute program
      #   run: |
      #     STATUS=$(timeout -s SIGTERM 6 love src/ &> timeout.log; echo $?);
      #     echo $STATUS;
      #     cat timeout.log
      #     if [ $STATUS != 124 ]; then
      #       exit 1;
      #     fi;
      #     echo "everything done correctly";
